



.admin .card:hover{

    background:  #e2e2e2;
    cursor:pointer;
}

.list-group-item.active{
    background: #007bff;

}
.discount-label{
    font-size:10px!important;
    font-style: italic!important;
}
.product-card:hover{
    cursor: pointer !important;
    background: #e2e2e2 !important;
}


